.card-of-resturant {
	display: flex;
	flex-direction: column;
	margin-left: 1.25rem;
	height: 232.8px;
	margin-top: 17px;
}

.div-of-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 16px;
	gap: 10px;
	width: 245px;
	height: 90px;
	background: #f9f4ea;
}

.chefName {
	height: 20px;
	font-family: "Helvetica Neue";
	font-style: normal;
	font-weight: 200;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 1.97px;
	color: #000000;
}
.name {
	width: 54px;
	height: 21px;
	font-family: "Helvetica Neue";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 2.67px;
	color: #000000;
}
