.card-of-resturant {
	display: flex;
	flex-direction: column;
	margin-left: 1.25rem;
	width: 245px;
	height: 232.8px;
	background: #f9f4ea;
	margin-top: 17px;
}
.claro-photo {
	width: 15.3rem;
	height: 9.925rem;
}

.div-of-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 16px;
	gap: 10px;
	width: 245px;
	height: 81px;
	background: #f9f4ea;
}

.text1 {
	@include helvetica-400-18;
}
.text2 {
	@include helvetica-200-18;
}
.all-restuarant {
	width: 172px;
	height: 35px;
	margin-left: 20px;
	display: flex;
	margin-top: 25px;
}
.arrow-icon {
	width: 24px;
	height: 18px;
	margin-left: 20px;
}
