.SignatureDish {
	height: 32.75rem;
	background: #fafafa;
}
.container {
	background: #fafafa;
	height: 36.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	padding-top: 1.5rem;
}

p {
	font-family: "Helvetica Neue";
	font-style: normal;
	font-weight: 200;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 1.97px;
	color: $blackColor;
}
