@import "./assets/breackpoints/breackpoints.scss";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.App {
	text-align: center;
	overflow-x: hidden;
}

/* <img src={logo}></img> */
/* import logo from "../../assets/images/logo.svg"; */

/* <img src={require('path')}></img> */
